<h1>Envio de PDF - <%= @current_user.licenciatura %></h1>

<p><strong>Nome civil: </strong><%= @current_user.nome_civil %></p>
<p><strong>E-mail: </strong><%= @current_user.email %></p>
<p><strong>Matrícula: </strong><%= @current_user.matricula %></p>
<p><strong>Curso: </strong><%= @current_user.licenciatura %></p>

<h2><strong>Mensagem:</strong></h2>
<p>O(a) usuário(a) <strong><%= @current_user.nome_civil %></strong> realizou o envio de um <strong>PDF</strong> para aprovação!</p>
<p>Status do envio: <strong><%= @archive.status %></strong></p>