<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>

<% if user_signed_in? %>
        
<div class="d-flex align-items-center justify-content-center">
    <% if current_user.avatar.url.present? %>
        <%= image_tag(current_user.avatar.url, size:"200x200", class: "styleImage") %>
        </div>
        <% else %>
        <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
</div>
<% end %>
<% end %>
<br>

<div class="card">

    <div class="card-header"> <h3>Edite o seu perfil</h3></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
          <div class="small-message-container">
          <small style="color:red">Dados completos e sem abreviações</small><br>
          <small style="color:red">Os asteriscos (*) indicam campos obrigatórios</small><br>
          <small style="color:red">Use dois traços (--) para campos vazios</small>
         </div>
          <label class="col-sm-2 col-form-label">Nome civil*</label>
          <div class="col-sm-4">
            <%= f.text_field :nome_civil, required: true, class: "form-control" %> 
          </div>

          <label class="col-sm-2 col-form-label">Nome social</label>
          <div class="col-sm-4">
            <%= f.text_field :nome_social, required: false, class: "form-control" %> 
          </div>

        </div>
       
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">E-mail*</label>
          <div class="col-sm-4">
            <%= f.email_field :email, required: true, class: "form-control" %>
          </div>

          <label class="col-sm-2 col-form-label">Matrícula*</label>
          <div class="col-sm-4">
            <%= f.text_field :matricula, require: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">

          <label class="col-sm-2 col-form-label">Licenciatura*</label>
          <div class="col-sm-4">
            <%= f.select :licenciatura, options_for_select(['Ciências da Natureza', 'Educação Física', 'Geografia', 'Letras: Português e Literaturas',
          'Matemática','Teatro', 'Pedagoga/TAE-DIRLIC'], f.object.licenciatura), :include_blank => "Selecione", class: "form-control" %>
          </div>

          <label for="inputEmail3" class="col-sm-2 col-form-label">Período*</label>
          <div class="col-sm-2">
            <%= f.select :periodo, options_for_select(['1.º','2.º','3.º','4.º','5.º', '6.º', '7.º', '8.º', 'Pedagoga/TAE'], f.object.periodo), include_blank: "Selecione", class: "form-control" %>
          </div>

        </div>


       <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Telefone*</label>
          <div class="col-sm-4">
            <%= f.text_field :telefone, required: true, class: "form-control", onkeypress:"$(this).mask('(00) 00000-0000')" %>
          </div>

      <label class="col-sm-2 col-form-label">Foto de perfil*</label>
        <div class="col-sm-4">
        <%= f.file_field :avatar, accept: 'image/gif, image/jpg, image/jpeg, image/png' %>
        </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Endereço*</label>
          <div class="col-sm-4">
            <%= f.text_field :endereco, required: true, class: "form-control" %> 
          </div>

          <label class="col-sm-2 col-form-label">Número*</label>
          <div class="col-sm-4">
            <%= f.text_field :numero, required: true, class: "form-control" %> 
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Complemento</label>
          <div class="col-sm-4">
            <%= f.text_field :complemento, required: true, class: "form-control" %> 
          </div>

          <label class="col-sm-2 col-form-label">Bairro*</label>
          <div class="col-sm-4">
            <%= f.text_field :bairro, class: "form-control" %> 
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Município*</label>
          <div class="col-sm-4">
            <%= f.text_field :municipio, required: true, class: "form-control" %> 
          </div>

          <label class="col-sm-2 col-form-label">CEP*</label>
          <div class="col-sm-4">
            <%= f.text_field :cep, class: "form-control", onkeypress:"$(this).mask('00000-000')" %> 
          </div>

<div class="form-group row">
<label class="col-sm-2 col-form-label">Nova senha*</label>
<div class="col-sm-4">
  <%= f.password_field :password, required: false, class: "form-control", placeholder: "No mínimo " + @minimum_password_length.to_s + ' caracteres', autocomplete: "off" %>
</div>

<br>

<label class="col-sm-2 col-form-label">Confirmar Senha*</label>

<div class="col-sm-4">
  <%= f.password_field :password_confirmation,  required: false, class: "form-control", placeholder: "Repetir senha", autocomplete: "off"  %>
</div>

</div>

<br>

    <div class="card-header"> <h3>Edite os dados da sua instituição concedente</h3></div>
<br>

 <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nome da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :nome_da_instituicao, required: true, class: "form-control" %> 
          </div>

          <label class="col-sm-2 col-form-label">CNPJ*</label>
          <div class="col-sm-4">
            <%= f.text_field :cnpj, class: "form-control",  onkeypress:"$(this).mask('00.000.000/0000-00')" %> 
          </div>

        </div>

      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tipo da instituição*</label>
          <div class="col-sm-4">
        <%= f.select :tipo_da_instituicao, options_for_select(['Federal', 'Estadual', 'Municipal','Particular'], f.object.tipo_da_instituicao), include_blank: "Selecione", class: "form-control" %>
          </div>
          </div>
       
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Endereço da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :endereco_da_instituicao, required: true, class: "form-control" %>
          </div>

          <label class="col-sm-2 col-form-label">Número da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :numero_da_instituicao, require: true, class: "form-control" %>
          </div>
        </div>


      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Complemento da instituição</label>
          <div class="col-sm-4">
            <%= f.text_field :complemento_da_instituicao, required: true, class: "form-control" %>
          </div>

          <label class="col-sm-2 col-form-label">Bairro da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :bairro_da_instituicao, require: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Município da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :municipio_da_instituicao, required: true, class: "form-control" %>
          </div>

          <label class="col-sm-2 col-form-label">CEP da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :cep_da_instituicao, require: true, class: "form-control", onkeypress:"$(this).mask('00000-000')" %>
          </div>
        </div>

      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Telefone da instituição*</label>
          <div class="col-sm-4">
            <%= f.text_field :telefone_da_instituicao, required: true, class: "form-control", onkeypress:"$(this).mask('(00) 00000-0000')" %> 
          </div>

          <% if current_user.role != "normal_user"%>
           <label class="col-sm-2 col-form-label">Apólice de Seguro*</label>
          <div class="col-sm-4">
            <%= f.text_field :apolice, require: true, class: "form-control" %>
          </div>
        </div>
        <% end %>

        </div>


<div class="form-group row">
<label class="col-sm-2 col-form-label text-danger">Senha atual*</label>
<div class="col-sm-10">
  <%= f.password_field :current_password, required: true, autocomplete: "off", class: "form-control", placeholder: "Necessária para confirmar as mudanças!" %> 
</div>


<div class="card-footer text-muted">
<div class="col-sm-12">
  <div class="text-center">
  <br>
    <%= f.submit "Salvar", :class => "btn btn-success direita" %>
    <%= link_to "Voltar", welcome_path, :class => "btn btn-primary"  %>
  </div>
</div>
</div>  

<% end %>
</div>