<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>

<% if user_signed_in? %>
        
<div class="d-flex align-items-center justify-content-center">
    <% if current_user.avatar.url.present? %>
        <%= image_tag(current_user.avatar.url, size:"220x220", class: "styleImage") %>
        </div>
<% end %>


<% else %>

<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>

<% end %>
<br>

<div class="card">

  <div class="card-header"> <h3>Edite o seu perfil </h3></div>
  <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Nome civil*</label>
  <div class="col-sm-4">
  <%= f.text_field :nome_civil, autofocus: true, autocomplete: "off" %>
</div>
<br>

  <label class="col-sm-2 col-form-label">Nome civil*</label>
  <div class="col-sm-4">
  <%= f.text_field :nome_social, autofocus: true, autocomplete: "off" %>
</div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Email*</label>
  <div class="col-sm-4">
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Endereço*</label>
  <div class="col-sm-4">
<%= f.text_field :endereco, autofocus: true, autocomplete: "off" %>
</div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Complemento*</label>
  <div class="col-sm-4">
<%= f.text_field :complemento, autofocus: true, autocomplete: "off" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Número*</label>
  <div class="col-sm-4">
<%= f.text_field :numero, autofocus: true, autocomplete: "off" %>
</div>
<div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Bairro*</label>
  <div class="col-sm-4">
<%= f.text_field :bairro, autofocus: true, autocomplete: "off" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Município*</label>
  <div class="col-sm-4">
<%= f.text_field :municipio, autofocus: true, autocomplete: "off" %>
</div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">CEP*</label>
  <div class="col-sm-4">
<%= f.text_field :cep, autofocus: true, autocomplete: "off" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Matrícula*</label>
  <div class="col-sm-4">
<%= f.text_field :matricula, autofocus: true, autocomplete: "off" %>
</div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Licenciatura*</label>
  <div class="col-sm-4">
  <%= f.select :licenciatura, options_for_select(['Ciências da Natureza', 'Educação Física', 'Geografia', 'Letras: Português e Literaturas',
  'Matemática','Teatro', 'Napp/Dirlic'], f.object.licenciatura), :include_blank => "Selecione", required: true, class: "form-control" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Período*</label>
  <div class="col-sm-4">
  <%= f.select :periodo, options_for_select(['1.º','2.º','3.º','4.º','5.º', '6.º', '7.º', '8.º', 'Pedagoga/TAE'], f.object.periodo), include_blank: "Selecione", required: false, class: "form-control" %>
</div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Telefone*</label>
  <div class="col-sm-4">
<%= f.text_field :telefone, autofocus: true, autocomplete: "off" %>
</div>
<br>

<label class="col-sm-2 col-form-label">Foto de perfil*</label>
        <div class="col-sm-4">
        <%= f.file_field :avatar %>
        </div>
        </div>

<div class="form-group row">
<label class="col-sm-2 col-form-label">Nova senha*</label>
<div class="col-sm-4">
  <%= f.password_field :password, required: false, class: "form-control", placeholder: "No mínimo " + @minimum_password_length.to_s + ' caracteres', autocomplete: "off" %>
</div>

<br>

<label class="col-sm-2 col-form-label">Confirmar Senha*</label>

<div class="col-sm-4">
  <%= f.password_field :password_confirmation,  required: false, class: "form-control", placeholder: "Repetir senha", autocomplete: "off"  %>
</div>

</div>

<br>


<div class="form-group row">
<label class="col-sm-2 col-form-label text-danger">Senha atual*</label>
<div class="col-sm-10">
  <%= f.password_field :current_password, required: true, autocomplete: "off", class: "form-control", placeholder: "Necessária para confirmar as mudanças!" %> 
</div>

</div>

<br>

<div class="card-footer text-muted">
<div class="col-sm-12">
  <div class="text-center">
    <%= f.submit "Salvar", :class => "btn btn-success direita" %>
    <%= link_to "Voltar", welcome_path, :class => "btn btn-primary"  %>
  </div>
</div>
</div>  

<% end %>
</div>
