<div class="container">
  <h1>Bem vindo(a) à tela de cadastro de Estágios!</h1>

  <%= form_with(model: @users, url: {action: "update"}, local: true) do |f| %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <div class="conteudo">
        <% if current_user.role == "admin" %>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Usuário(a): <b><%= session[:nome_user] %></b></td>
              </tr>

              <tr>
                <td>Email: <b><%= session[:email_user] %></b></td>
              </tr>

              <tr>
                <td>Matrícula: <b><%= session[:matricula_user] %></b></td>
              </tr>

              <tr>
                <td>Curso: <b><%= session[:curso_user] %></b></td>
              </tr>

              <tr>
                <td>Período: <b><%= session[:periodo_user] %></b></td>
              </tr>

            </tbody>
        </table>

        <div class="field">
        <h3>Aprovação do pedido para acesso ao Documento de Estágio </h3>
          <%= f.label :situação_do_usuário %><br />
          <%= f.select :situacao, @values_situacao, selected: "Revisar" %>
        </div>
        <br>
      
      <hr />

        <h3>Finalização do Documento de Estágio </h3>
        <div class="field">
          <%= f.label :finalizacao_do_usuário %><br />
          <%= f.select :finalizacao, @values_finalizacao, selected: "Revisando" %>
        </div>
        <br>
        <%= f.submit "Salvar", :class => 'btn btn-success' %>

        <hr />
        <% else %>
          <span>Usuário(a): <strong><%= current_user.nome_social %></strong></span>

          <hr />
          <h3>Desculpe, você não tem permissão para visualizar essa página.</h3>
        <% end %>

        <%= link_to "Voltar", :back, :class => 'btn btn-primary' %>
      </div>

    <% end %>
  <% end %>

  <style type="text/css">
    footer {
      margin-top: 200px;
    }
    .container {
      text-align: center;
    }
  </style>
</div>
