<div class="container">
 <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>
  <%= form_with(model: @users, url: {action: "update"}, local: true) do |f| %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <div class="conteudo">
        <% if current_user.role != "normal_user" %>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Usuário(a): <b><%= session[:nome_user] %></b></td>
              </tr>

              <tr>
                <td>Email: <b><%= session[:email_user] %></b></td>
              </tr>

              <tr>
                <td>Matrícula: <b><%= session[:matricula_user] %></b></td>
              </tr>

              <tr>
                <td>Curso: <b><%= session[:curso_user] %></b></td>
              </tr>

              <tr>
                <td>Período: <b><%= session[:periodo_user] %></b></td>
              </tr>

            </tbody>
        </table>

          <% if @id_user.pdf_aditivo_centro != false || @id_user.pdf_aditivo_campi != false || @id_user.pdf_aditivo_estadual != false || @id_user.pdf_aditivo_municipalouparticular != false || @id_user.pdf_centro != false || @id_user.pdf_campi != false || @id_user.pdf_publico != false || @id_user.pdf_particular != false || @id_user.pdf_naoformal != false %>

          <div class="field">
          <h3>Aprovação para acesso ao Documento de Estágio </h3>
          <%= f.label :situação_do_usuário %><br />
          <%= f.select :situacao, @values_situacao, selected: @id_user.situacao %>
          </div>
          <br>
      
         <hr />

         <h3>Finalização do Documento de Estágio </h3>
          <div class="field">
          <%= f.label :finalizacao_do_usuário %><br />
          <%= f.select :finalizacao, @values_finalizacao, selected: @id_user.finalizacao %>
          </div>

          <br>
          <hr />

           <h3>Liberação para novo preenchimento</h3>
          <div class="field">
          <%= f.label :liberacao_do_usuário %><br />
          <%= f.select :liberacao, @values_liberacao, selected: @id_user.liberacao %>
          </div>
         

          <hr />
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-danger">Observação do avaliador</label>
            <div class="col-sm-9">
              <%= f.text_area :feedback_situacao, rows: 5, class: 'form-control' %>
            </div>
          </div>
          <br>
          <%= f.submit "Salvar", :class => 'btn btn-success' %>
          <hr />
        
        <% else %>

          <div class="field">
          <h3>Aprovação para acesso ao Documento de Estágio </h3>
          <%= f.label :situação_do_usuário %><br />
          <%= f.select :situacao, @values_situacao, selected: "Revisar" %>
          </div>

          <hr />

          <hr />
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-danger">Observação do avaliador</label>
            <div class="col-sm-9">
              <%= f.text_area :feedback_situacao, rows: 5, class: 'form-control' %>
            </div>
          </div>
           <br>
          <%= f.submit "Salvar", :class => 'btn btn-success' %>
          <hr />

        <% end %>
      
        <% else %>
          <span>Usuário(a): <strong><%= current_user.nome_social %></strong></span>

          <hr />
          <h3>Desculpe, você não tem permissão para visualizar essa página.</h3>
        <% end %>

        <%= link_to "Voltar", :back, :class => 'btn btn-primary' %>
      </div>

    <% end %>
  <% end %>

  <style type="text/css">
    footer {
      margin-top: 200px;
    }
    .container {
      text-align: center;
    }
  </style>
</div>
