<% if user_signed_in? %>
  <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>
    <div class="container container_estagio">
      <h1 class="titulo">Bem-vindo(a) ao preenchimento dos Termos!</h1>
			<% if current_user.nome_social.blank? %>
      <span><b>Usuário:</b> <%= current_user.nome_civil %></span>
      <% else %>
			<span><b>Usuário:</b> <%= current_user.nome_social %></span>
				<% end %>
      <hr />
       <span class style="color:black;font-weight:bold;">
      <p><b>Legendas: TCE Termo de Compromisso de Estágio / TAdE Termo Aditivo de Estágio</u></b></p></span>
      <hr />
      <% if current_user.role != "normal_user" %>

<div class="container">
 <div class="card">
  <br>

  <%= form_tag(estagio_welcome_index_path, method: :get, class: "form-group") do %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= text_field_tag :nome_civil, params[:nome_civil], class: "form-control", placeholder: 'Nome do aluno' %>
      </div>
      <div class="col-md-3">
        <%= select_tag :licenciatura, options_for_select([["Ciências da Natureza", "Ciências da Natureza"], ["Educação Física", "Educação Física"], ["Geografia", "Geografia"], ["Letras: Português e Literaturas", "Letras: Português e Literaturas"], ["Matemática", "Matemática"], ["Teatro", "Teatro"]], params[:licenciatura]), prompt: "Selecione o curso", class: "form-control" %>
      </div>
      <div class="col-md-2">
      <%= submit_tag "Procurar", class: "btn btn-success"  %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <%= text_field_tag :matricula, params[:matricula], class: "form-control", placeholder: 'Matrícula do aluno' %>
      </div>
      <div class="col-md-3">
        <%= select_tag :periodo, options_for_select([["5.º", "5.º"], ["6.º", "6.º"], ["7.º", "7.º"], ["8.º", "8.º"]], params[:periodo]), prompt: "Selecione o período", class: "form-control" %>
      </div>

      <div class="col-md-2">
      <%= link_to "Limpar Pesquisa", estagio_welcome_index_path, class: "btn btn-secondary"  %>
      </div>
    </div>
  <% end %>

  <br>

  <%= form_with model: @user do |form| %>
    <div class="table-responsive" style="overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Curso</th>
            <th scope="col">Período</th>
            <th scope="col">Email</th>
            <th scope="col">Situação</th>
            <th scope="col">Impressão</th>
            <th scope="col">Finalização</th>
            <th scope="col">Role</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.nome_civil, users_show_path(id: user.id), :target => '_blank', :class => "btn btn-outline-dark" %></td>
            <td><%= user.matricula %></td>
            <td><%= user.licenciatura %></td>
            <td><%= user.periodo %></td>
            <td><p><%= user.email %></p></td>

            <% if user.situacao == "Revisar" %>
            <td style="color:blue;font-weight:bold;"><%= user.situacao %></td>
            <% else %>
            <% if user.situacao == "Indeferido" %>
            <td style="color:red;font-weight:bold;"><%= user.situacao %></td>
            <% else %>
            <td style="color:green;font-weight:bold;"><%= user.situacao %></td>
            <% end %>
            <% end %>

            <% if user.finalizacao == "Revisando" %>
            <td style="color:blue;font-weight:bold;"><%= user.finalizacao %></td>
            <% else %>
            <% if user.finalizacao == "Indeferido" %>
            <td style="color:red;font-weight:bold;"><%= user.finalizacao %></td>
            <% else %>
            <td style="color:green;font-weight:bold;"><%= user.finalizacao %></td>
            <% end %>
            <% end %>

            <% if user.liberacao == "Reprovado" %>
            <td style="color:red;font-weight:bold;"><%= user.liberacao %></td>
            <% else %>
            <% if user.liberacao == "Aprovado" %>
            <td style="color:green;font-weight:bold;"><%= user.liberacao %></td>
            <% end %>
            <% end %>

            <td><%= user.role %></td>

            <td><%= link_to "Revisar", estagio_welcome_edit_path(:id => user.id, :nome_social => user.nome_social, :matricula => user.matricula, :curso => user.licenciatura, :periodo => user.periodo, :email => user.email), :target => '_blank', :class => 'btn btn-info revisar_btn' %></td>

            <% if user.pdf_aditivo_municipalouparticular != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_municipalouparticularaditivo_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_municipalouparticularaditivo_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_municipalouparticularaditivo_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "municipalouparticularaditivo" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>
                  
            <% if user.pdf_aditivo_estadual != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_estadualaditivo_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_estadualaditivo_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
           <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_estadualaditivo_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "estadualaditivo" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>
                  
            <% if user.pdf_aditivo_campi != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_campiaditivo_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_campiaditivo_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_campiaditivo_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "campiaditivo" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>
                  
            <% if user.pdf_aditivo_centro != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_aditivocentro_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_aditivocentro_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
           <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_aditivocentro_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "aditivocentro" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>
                  
            <% if user.pdf_centro != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_centro_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_centro_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_centro_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "centro" } %></td>
            <% if user.status_impressao != false %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>
                  
            <% if user.pdf_campi != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_campi_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_campi_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_campi_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "campi" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>                  
            <% end %>

            <% if user.pdf_publico != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_publico_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_publico_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
           <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_publico_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "publico" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %>
            <% end %>

            <% if user.pdf_particular != false %>
            <td><%= link_to 'Carta PDF', carta_apresentacao_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Termo PDF', relatorio_particular_index_path(@relatorio, @users, :matricula => user.matricula, :format => :pdf), :target => '_blank', :class => 'btn btn-dark pdf_admin' %></td>
            <td><%= link_to 'Editar Carta', pdf_geral_carta_apresentacao_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to 'Editar Termo', pdf_geral_particular_path(:id => user.id), :target => '_blank', :class => 'btn btn-primary texto_branco' %></td>
            <td><%= link_to "Excluir Carta", delete_carta_apresentacao_path(user_id: user.id), class: 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "cartaapresentacao" } %></td>
            <td><%= link_to "Excluir Termo", delete_relat_particular_path(user_id: user.id), :class => 'btn btn-vermelho delete-pdf-btn', method: :delete, data: { controller: 'alert', "user-id" => user.id, "relatorio-type" => "particular" } %></td>
            <% if user.status_impressao == true %>
            <td><%= link_to "Liberar", liberar_user_path(:id => user.id, :action => "liberar"), data: { controller: 'alert', "user-id" => user.id}, :class => 'btn btn-secondary liberar-btn'  %></td>
            <td><button type="button" class="btn btn-success">Termo impresso pelo usuário!</button></td>
            <% end %> 
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= will_paginate @will_paginate %>
  <% end %>
</div>


      <% else %>
        <% if current_user.situacao == "Revisar" %>
          <p>Sua solicitação foi encaminhada para análise.</p>
          <p>Seu pedido será avaliado pela DIRLIC/NAPP e você será notificado(a), pelo <i>e-mail</i> cadastrado, atualização do <i>status</i> do pedido!</p>

          <%= image_tag("loader.gif", :alt => "gif aguarde", width: "420x420") %>
        <% else %>
          <% if current_user.situacao == "Pendente" %>
            <div class="btn_aprovacao">
              <p style="font-size:1.3rem;">Atualize seu período do Curso, antes de solicitar o acesso ao preenchimento dos Termos.</p> <br/>
              <p>Clique no botão abaixo para solicitar o acesso!</p>

              <%= button_to 'Solicitar Acesso', action: 'pendente', :id => current_user.id %>
            </div>
          <% end %>
        <% end %>
        

        <% if current_user.situacao == "Indeferido" %>
          <h5>INDEFERIDO.<h5>
           <h5>NOTA: nesse caso, você comparecerá ao setor DIRLIC/NAPP - <i>Bloco G, 4.º andar, sala 411</i> - para solicitação de novo acesso ao preenchimento dos documentos exigidos ao campo de Estágio <span style="color: #f00;"> <i>(o acesso será permitido uma única vez)</i></span>.</h5>

          <hr />

          <div class="card">
          <div class="card-header"><h5><b>Observação do(a) avaliador(a) a respeito da sua situação de Estágio:<h5></b>
          <br> <%= current_user.feedback_situacao %><h5>
          </div>
          </div>
        <% end %>

        <% if current_user.situacao == "Deferido"%>
          <h5>DEFERIDO.<h5>
          <h5>Parabéns, seu perfil foi aprovado com sucesso!</h5>
          <h6 style="color:blue;">Após preenchidos, seus Documentos referentes ao campo de Estágio serão avaliados pela DIRLIC e disponibilizado à impressão, quando DEFERIDO.</h6>

          <hr />

          <% if current_user.pdf_aditivo_centro == false && current_user.pdf_aditivo_municipalouparticular == false && current_user.pdf_aditivo_estadual == false && current_user.pdf_centro == false && current_user.pdf_campi == false && current_user.pdf_publico == false && current_user.pdf_particular == false && current_user.pdf_aditivo_campi == false  %>
            <p class="escolha_um_formulario">PREENCHA A CARTA DE APRESENTAÇÃO, DEPOIS ESCOLHA A REDE DE ENSINO DA INSTITUIÇÃO CONCEDENTE E PREENCHA ATENTAMENTE O SEU TERMO.</u></p>
            <p class="escolha_um_formulario2"> Lembre-se de que após o envio, caso haja erro no preenchimento, envie um e-mail solicitando novo acesso para ecs-dirlic.centro@gmail.com.</u></u></p>
        
        <% if current_user.carta_apresentacao == false %>
            <div class="botoes">
              <span class="btn3">
                <%= link_to "Carta de Apresentação", carta_apresentacao_index_path, :class => 'btn btn-outline-primary' %>
              </span>
              <% else %>
              <div class="botoes">
              <span class="col btn1">
                <%= button_tag 'Rede de Ensino Federal', :class => 'btn btn-outline-primary' %>
               </span>
                <span class="col btn2"> <%= button_tag "Rede de Ensino Estadual, Municipal ou Particular", :class => 'btn btn-outline-primary' %></span>
              <br>
              <% end %>
               <style type='text/css'>
              <% if current_user.licenciatura == 'Educação Física' && current_user.periodo == '5.º' %>
                .div_federal {
                  margin-left: 55px!important;
                  font-style: italic;
                }
                .div_federal2 {
                  margin-left: 410px;
                }
                .voltar {
                  margin-top:120px;
                }
              <% else %>
                .div_federal {
                  margin-left: 200px!important;
                }
                .div_federal2 {
                  margin-left: 540px;
                }
                .voltar {
                  margin-top:120px;
                }
              <% end %>
            </style>
            </div>

            <div class="div_federal" style="display:none">
            <a href="<%= relatorio_centro_index_path(@relatorio) %>" class="btn btn-success" ><i>Campus</i> Campos Centro do IFFluminense - Carta de Apresentação e TCE</a>
            <a href="<%= relatorio_aditivocentro_index_path(@relatorio) %>" class="btn btn-success" ><i>Campus</i> Campos Centro do IFFluminense - Carta de Apresentação e TAdE</a>
              <span class="campi">
            <a href="<%= relatorio_campi_index_path(@relatcampi) %>" class="btn btn-success" >Outros <i>Campi</i> do IFFluminense - Carta de Apresentação e TCE</a>
            <a href="<%= relatorio_campiaditivo_index_path(@relatcampi) %>" class="btn btn-success" >Outros <i>Campi</i> do IFFluminense - Carta de Apresentação e TAdE</a>
              </span>
            </div>

            <div class="div_federal2" style="display:none">
              <%= link_to "Instituição de Ensino Estadual - Carta de Apresentação e TCE", relatorio_publico_index_path, :class => 'btn btn-info publica' %>
              <%= link_to "Instituição de Ensino Estadual - Carta de Apresentação e TAdE", relatorio_estadualaditivo_index_path, :class => 'btn btn-info publica' %>
              <span class="municipal">
              <%= link_to "Instituição de Ensino Municipal ou Particular - Carta de Apresentação e TCE", relatorio_particular_index_path, :class => 'btn btn-info particular' %>
              <%= link_to "Instituição de Ensino Municipal ou Particular - Carta de Apresentação e TAdE", relatorio_municipalouparticularaditivo_index_path, :class => 'btn btn-info particular' %>
              </span>
            </div>
          <% end %>

        <% if current_user.finalizacao == "Indeferido" %>
          <h5>Parece que a administração está com dificuldades na validação do seu Documento de Estágio!</h5>

          <hr />

          <div class="card">
          <div class="card-header"><h5><b>Observação do(a) avaliador(a) a respeito da sua situação de Estágio:<h5></b>
          <br> <%= current_user.feedback_situacao %><h5>
          </div>
          </div>
        <% end %>

        <% if current_user.finalizacao == "Deferido"%>

          <h5 style="color:green;font-weight:bold;" >Parabéns, seu Documento de Estágio foi aprovado com sucesso!</h5>

          <hr />
         
          <% if  current_user.pdf_aditivo_centro != false || current_user.pdf_aditivo_municipalouparticular != false || current_user.pdf_aditivo_estadual != false || current_user.pdf_aditivo_campi != false || current_user.pdf_centro != false || current_user.pdf_campi != false || current_user.pdf_publico != false || current_user.pdf_particular != false %>
            <div class="pdf_btn">

              <div class="aviso_impressao">
                <span style="font-size:1.2em;"><b><u>Avisos!</u></b></span> <br />
                <span style="font-size:1.2em;">Sugerimos que você faça o download dos arquivos.</span><br />
                <span style="font-size:1.2em;">Imprima o termo em <b>03 (três) vias</b> e a Carta de Apresentação <b>em uma única via</b> que deverá ser entregue, junto ao Termo, na <b>Instituição Concedente</b>.</span><br />
                <span style="font-size:1.2em;">Imprima o Termo <b><u>frente e verso!</u></b></span><br />
              </div>

           <div class="table-responsive" style="overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch;">
            <table class="table table-hover transparent-table">
              <thead>
                <tr>
                  <th>PDFs</th>
                </tr>
              </thead>
               <tbody>
              <% if current_user.carta_apresentacao == true %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima sua Carta de Apresentação!</span><br /><br>
                      <%= link_to 'Gerar Carta de Apresentação', carta_apresentacao_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_aditivo_municipalouparticular != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_municipalouparticularaditivo_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_aditivo_estadual != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_estadualaditivo_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_aditivo_campi != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_campiaditivo_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_aditivo_centro != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_aditivocentro_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_centro != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_centro_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_campi != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_campi_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_publico != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_publico_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
              <% if current_user.pdf_particular != false %>
                <tr>
                  <td class="text-center">
                    <div class="button-container text-center">
                      <span>Clique aqui e imprima o formulário em 03 (três) vias!</span><br><br>
                      <%= link_to 'Gerar Termo', relatorio_particular_index_path(@relatorio, current_user, :format => :pdf), :target => '_blank', :class => 'btn btn-dark ' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <style type="text/css">
  .transparent-table {
  background-color: transparent;
    }
    .button-container {
    align-items: center;
    }

  .button-container .btn {
    margin-top: 10px; /* Margem superior para os botões */
    }

  .conteudo p {
      line-height: 2.5;
      text-align: justify;
    }
    input {
      height:30px;
      border:none;
      border-bottom:2px dashed black;
    }
    .periodo_div {
      text-align:center;
    }
    .titulo {
      text-align: center;
      padding-top: 10px;
    }
    .contato_dirlic_pdf {
      top:11.6rem;
      position: relative;
    }
    td p {
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow:  ellipsis;
      text-align:center;
    }
    .revisar_btn {
      color: white!important;
    }
    .desaparece_botao {
      margin-top:10px;
    }
    .div_federal a, .div_federal2 a{
      display:block;
      margin-top:5px;
    }
    .div_federal {
      width:270px;
      margin-top:-10px;
      position: absolute;
      left: 100px;
    }
    .campi {
      width:270px;
      margin-top:-11.3rem;
      position: absolute;
      left:300px;
    }
    .div_federal2 {
      width:270px;
      margin-top:-10px;
      position: absolute;
      left:23rem;
    }
    .municipal {
      width:270px;
      margin-top:-11.3rem;
      position: absolute;
      left:17rem;
    }
    .btn-light {
      border:1px solid rgba(10,10,200,0.9);
    }
    .btn-vermelho {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
    .btn-light:hover {
      border:1px solid rgba(10,10,200,0.9);
    }
    .pdf_btn {
      text-align:center;
      margin-top:20px;
    }
    .div_federal, .div_federal2 {
      padding:20px;
    }
    .texto_branco {
      color: white!important;
    }
    .col > .btn-primary {
      color: blue!important;
    }
    .div_federal2 > .btn-light {
      color: black!important;
    }
    .btn-danger {
      margin-left: 40px;
    }
    .btn-success {
      color: white!important;
    }
    .text_form {
      width:83%;
    }
    .button_form {
      width:15%;
    }
    .text_form, .button_form {
      display: inline-block;
      margin-top:20px;
    }
    .pagination a, .pagination span{
      padding: 0px 10px;
    }
    .aviso_impressao {
      box-shadow: -2px 2px 10px rgba(200,200,200,0.9);
      margin:10px 0px;
    }
    .aviso_impressao span {
      color: red;
      font-size:0.9em;
    }
    .imagem_reprovado img {
      border-radius: 100%;
      box-shadow: -2px 2px 30px rgba(10,10,10,0.6);
    }
    .pagination a, .pagination span{
      padding: 0px 10px;
    }
    .pagination a:hover {
      background: none;
    }
    .escolha_um_formulario {
      color: red;
      text-transform:uppercase;
      font-weight: bold;
    }
    .escolha_um_formulario2 {
      color: green;
      text-transform:uppercase;
      font-weight: bold;
      font-size: 14px;
    }
    @media (max-width: 991.98px) {
      .voltar {
        margin-left: -1px;
      }
    }
  </style>