<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
<br>


<div class="card">

	<div class="card-header"> <h3>Dados da conta de <%= @user.nome_social %></h3></div>

  	<div class="row">
    	<div class="col-md-12 ">
			<ul class="list-group">
				<li class="list-group-item"><b>Nome civil:</b> <%= @user.nome_civil %></li>
				<% if not @user.nome_social.blank? %>
					<li class="list-group-item"><b>Nome social:</b> <%= @user.nome_social %></li>
				<% end %>
				<li class="list-group-item"><b>E-mail:</b> <%= @user.email %></li>
				<li class="list-group-item"><b>Licenciatura:</b> <%= @user.licenciatura %></li>
				<li class="list-group-item"><b>Período:</b> <%= @user.periodo %></li>
				<li class="list-group-item"><b>Matrícula:</b> <%= @user.matricula %></li>
				<li class="list-group-item"><b>Status:</b> <%= @user.situacao %></li>
				<li class="list-group-item"><b>Cadastrado em:</b> <%= @user.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
				<li class="list-group-item"><b>Atualizado em:</b> <%= @user.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
				<div class="card-header"> <h3>Dados da Instituição Concedente de <%= @user.nome_social %></h3></div>
				<li class="list-group-item"><b>Nome da Instituição:</b> <%= @user.nome_da_instituicao %></li>
				<li class="list-group-item"><b>Tipo da Instituição:</b> <%= @user.tipo_da_instituicao %></li>
				<li class="list-group-item"><b>CNPJ:</b> <%= @user.cnpj %></li>
				<li class="list-group-item"><b>Endereço da Instituição:</b> <%= @user.endereco_da_instituicao %></li>
				<li class="list-group-item"><b>Número da Instituição:</b> <%= @user.numero_da_instituicao %></li>
				<li class="list-group-item"><b>Complemento da Instituição:</b> <%= @user.complemento_da_instituicao %></li>
				<li class="list-group-item"><b>Bairro da Instituição:</b> <%= @user.bairro_da_instituicao %></li>
				<li class="list-group-item"><b>Município da Instituição:</b> <%= @user.municipio_da_instituicao %></li>
				<li class="list-group-item"><b>CEP da Instituição:</b> <%= @user.cep_da_instituicao %></li>
				<li class="list-group-item"><b>Telefone da Instituição:</b> <%= @user.telefone_da_instituicao %></li>
				<li class="list-group-item"><b>Representada por:</b> <%= @user.representante %></li>
			</ul>
		</div>
	</div>


	<div class="card-footer text-muted">
        <div class="col-sm-12">
        	<div class="text-center">
          		
          		<%= link_to "Voltar", users_path, :class => "btn btn-primary"  %>
        	</div>
        </div>
  	</div>  
</div>