<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
<% if @user.avatar.url.present? %>
<%= image_tag(@user.avatar.url, size:"220x200", class: "styleImage") %>
	<% else %>
<%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>  
	<% end %>
</div>
<br>


<div class="card">

	<div class="card-header">
	<% if @user.nome_social.blank? %>
    <li class="list-group-item"><b><h3>Dados da conta de:</b> <%= @user.nome_civil %></h3></li>
    <% else %>
	<li class="list-group-item"><b><h3>Dados da conta de:</b> <%= @user.nome_social %></h3></li>
	<% end %>
	</div>	

  	<div class="row">
    	<div class="col-md-12 ">
			<ul class="list-group">
			<% if @user.role == "normal_user" %>
			<li class=list-group-item><%= link_to "NOVO PREENCHIMENTO", refazer_user_path(:id => @user.id, :action => "refazer"), data: { controller: 'alert', "user-id" => @user.id}, :class => 'btn btn-secondary refazer-btn'  %></td>--- Só clicar após APAGAR todos os PDFs do aluno!</li>
				<% end %>
				<li class=list-group-item><%= link_to 'Enviar e-mail', mensagens_path(:user_id => @user.id), :target => '_blank', :class => "btn btn-success btn-block" %></li>
				<% if @user.nome_social.blank? %>
        		<li class="list-group-item"><b>Nome Civil:</b> <%= @user.nome_civil %></li>
           		 <% else %>
				<li class="list-group-item"><b>Nome Social:</b> <%= @user.nome_civil %></li>
				<% end %>
				<li class="list-group-item"><b>E-mail:</b> <%= @user.email %></li>
				<li class="list-group-item"><b>Licenciatura:</b> <%= @user.licenciatura %></li>
				<li class="list-group-item"><b>Período:</b> <%= @user.periodo %></li>
				<li class="list-group-item"><b>Matrícula:</b> <%= @user.matricula %></li>
				<li class="list-group-item"><b>Status:</b> <%= @user.finalizacao %></li>
				<li class="list-group-item"><b>Cadastrado em:</b> <%= @user.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
				<li class="list-group-item"><b>Atualizado em:</b> <%= @user.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
				<div class="card-header">
				<% if @user.nome_social.blank? %>
				<li class="list-group-item"><b><h3>Dados da Instituição Concedente de:</b> <%= @user.nome_civil %></h3></li>
				<% else %>
				<li class="list-group-item"><b><h3>Dados da Instituição Concedente de:</b> <%= @user.nome_social %></h3></li>
				<% end %>	
				</div>
				<li class="list-group-item"><b>Nome da Instituição:</b> <%= @user.nome_da_instituicao %></li>
				<li class="list-group-item"><b>Tipo da Instituição:</b> <%= @user.tipo_da_instituicao %></li>
				<li class="list-group-item"><b>CNPJ:</b> <%= @user.cnpj %></li>
				<li class="list-group-item"><b>Endereço da Instituição:</b> <%= @user.endereco_da_instituicao %></li>
				<li class="list-group-item"><b>Número da Instituição:</b> <%= @user.numero_da_instituicao %></li>
				<li class="list-group-item"><b>Complemento da Instituição:</b> <%= @user.complemento_da_instituicao %></li>
				<li class="list-group-item"><b>Bairro da Instituição:</b> <%= @user.bairro_da_instituicao %></li>
				<li class="list-group-item"><b>Município da Instituição:</b> <%= @user.municipio_da_instituicao %></li>
				<li class="list-group-item"><b>CEP da Instituição:</b> <%= @user.cep_da_instituicao %></li>
				<li class="list-group-item"><b>Telefone da Instituição:</b> <%= @user.telefone_da_instituicao %></li>
				<% if not @user.representante.blank? %>
				<li class="list-group-item"><b>Representada por:</b> <%= @user.representante %></li>
				<% else %>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="card-footer text-muted">
        <div class="col-sm-12">
        	<div class="text-center">
          		
          		<%= link_to "Voltar", root_path, :class => "btn btn-primary"  %>
        	</div>
        </div>
  	</div>  
</div>