<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo est치gio curricular supervisonado") -%>   
    </div>
    <div class="container container_estagio">
     <% if current_user.nome_social.blank? %>
        	<li class="list-group-item"><b><h3>Usu치rio(a):</b> <%= current_user.nome_civil %></h3></li>
            <% else %>
				<li class="list-group-item"><b><h3>Usu치rio(a):</b> <%= current_user.nome_social %></h3></li>
			<% end %>
      <hr />

<div class="card">

  <div class="card-header"> <h3>E-mail enviado</h3></div>

   <div class="row">
      <div class="col-md-12 ">
	    <ul class="list-group">
	    <li class="list-group-item">
        <b>Destinat치rio:</b>
        <% destinatario = User.find(@mensagem.destinatario_id) %>
        <%= "#{destinatario.nome_civil}#{' (' + destinatario.nome_social + ')' if destinatario.nome_social.present? && destinatario.nome_social != destinatario.nome_civil && destinatario.nome_social != '--' && destinatario.nome_social != '-'}" %>
      </li>
	        <li class="list-group-item"><b>Texto:</b> <%= @mensagem.texto %></li>
	        
	        <li class="list-group-item"><b>Remetente:</b><%= User.find(@mensagem.remetente_id).nome_civil %></li>
	        <li class="list-group-item"><b>Cadastrado em:</b> <%= @mensagem.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
	    </ul>
    </div>
  </div>

  <div class="card-footer text-muted">
    <div class="col-sm-12">
      <div class="text-center">
        <%= link_to "Voltar", users_path, :class => "btn btn-primary"  %>
      </div>
    </div>
  </div>   

</div>