<% if user_signed_in? %>
    <div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>

    <br><br>

<div class="introducao">
  <div class="page-header text-center">
    <h3>Seja bem vindo(a) <%=current_user.nome_social %>! </h3>
  </div>

<% if current_user.role == "normal_user" %>
      <div class="alert alert-primary">
        <p>Olá <%= current_user.nome_social %>!</p>
        <p><b>No início de cada semestre letivo, lembre-se de atualizar seu período no curso e e-mail!</b></p>
      </div>
  <p>
  <h5> Verifique a disponibilidade do Documento de estágio na aba "listagem"!</h5>
    É <span style="color: #f00;"><b>muito importante</b></span> que você preencha o 
    Documento de Estágio <span style="color: #f00;"><b>corretamente</b></span> visto
    que cada usuário tem acesso a apenas <span style="color: #f00;"><b>uma(1)</b></span> tentativa.</p>
    <p>
    Após o preenchimento seu Documento será avaliado pela Dirlic e disponibilizado com 
    <u>período de início e fim</u>, além da <u>assinatura da Dirlic</u> para cumprimento do 
    <b>Estágio Curricular Supervisionado.</b>
  </p>

  <% elsif current_user.role != "normal_user" %>

  <p>
  <h5>Verifique a situação dos alunos e seus Documentos de Estágio na aba "Listagem"!</h5>
    Assim que disponível, <u>modifique</u> o Documento de Estágio disponibilizado de cada aluno,
    adicionando as informações que <span style="color: #f00;"><b>cabem a Dirlic</b></span> e ao final
    <b>mude o status de finalização do Documento de Estágio</b> para o aluno ter <b>acesso</b> ao 
    <span style="color: #f00;"><b>PDF e a impressão do mesmo!</b></span>
    </p>

    <p>
    <div class="text-center" <span style="color: #f00;"><b>ATENÇÃO!</b></div>
    </span> <b>Sempre</b> que acessar a funcionalidade de <u><span style="color: #f00;">mudança de status</u>
    </span> <b>lembre-se de atualizar o status tanto de <u>acesso ao Documento de Estágio</u> quanto o de 
    <u>finalização do Documento de Estágio.
  </p>
  
<% end %>
  <% else %>
    <br><br>
  <div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>

    <div class="text-box">
            <div class="text-box-heading">
            <div class="d-flex align-items-center justify-content-center">
            <div class="arrow-down"><span style="color: #f00;">Licenciando(a)!</span></div>
            </div>
            <p><br>
            <div class="text-box">
            <div class="text-box-heading">
                <div class="form">
                <form>
                Bem vindo(a) ao <b>Sistema ECS</b> destinado ao Estágio Curricular Supervisionado, obrigatório e não remunerado, nos cursos de Licenciatura do <i>Campus</i> Campos Centro do IFFluminense.<br>
                
                Este Sistema foi criado para fins de emissões de documentos obrigatórios ao Licenciando(a) e ao campo de estágio oportunizado por Instituições parceiras, sejam Formais ou Não Formais.</p>
            </form>
            </div>
            </div>
            </div>
            </div>
        </header>
    </div>
</div>

    <div class="d-flex align-items-center justify-content-center">
    <div id="main" class="main">
    <div id ="texto-home" class="texto-home">
    <br>
    <h2>Crie sua conta ou faça login!</h2>
    <br><br>
    <div class="text-center">
        <%= link_to "Acessar", new_user_session_path, :class => "btn btn-primary" %><br><br>
        <%= link_to "Criar Conta", new_user_registration_path, :class => "btn btn-success direita"  %>
        </div>
    <% end %>

    </div>
    </div> 
</div>

