<% if user_signed_in? %>
    <div class="d-flex align-items-center justify-content-center">
        <h1>Estágio Curricular Supervisionado</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisionado") -%>   
    </div>

    <br><br>

    <div class="introducao">
        <div class="page-header text-center">
            <h3>Seja bem vindo(a) <%=current_user.nome_civil %>! </h3>
        </div>

        <% if current_user.role == "normal_user" %>
            <div class="alert alert-primary">
                <p style="font-size: 1.1rem;">Olá <%= current_user.nome_civil %>!</p>
                <p style="font-size:1.2rem;"><b>No início de cada semestre letivo, lembre-se de atualizar seu período no curso e demais dados, se necessário.</b></p>
            </div>
            <p>
                <h5> Disponível para preenchimento digital: Carta de apresentação, Termo de Compromisso ou Termo Aditivo ao campo ECS na aba "Cadastro/ECS"!</h5>
                <p style="font-size:1.3rem; text-align: center; "> É <span style="color: #f00;"><b>muito importante</b></span> que VOCÊ preencha o 
                Documento ao campo de Estágio <span style="color: #f00;"><b>corretamente</b></span>, visto
                que cada USUÁRIO tem acesso a apenas <span style="color: #f00;"><b>uma</b></span> tentativa <b>após o envio</b>.</p>
                <p style="font-size:1.3rem;">
                    Após o preenchimento, seu documento será avaliado pela DIRLIC e disponibilizado, conforme o Seguro obrigatório,
                    para fins de impressão em <b>03 vias</b> de iguais teor.</b> <b>As mesmas serão assinadas na Diretoria das Licenciaturas, bloco G 4° andar, sala 411</b>.
                </p>
                <p style="font-size:1.3rem;">Em caso de dúvidas também é possível enviar um e-mail para <b>'ecs-dirlic.centro@iff.edu.br'</b></p>

                <div class="d-flex align-items-center justify-content-center">
                    <a href="https://licenciaturas.centro.iff.edu.br/nucleo-de-apoio-a-pratica-profissional/copy_of_procedimentos-ao-campo-de-estagio-1" target="_blank" class="btn btn-primary">Clique aqui para rever as Orientações!</a> <hr/>
                </div>
            </p>
        <% else %>
            <p>
                <h5 style="font-size:1.4rem; text-align: center;">Verifique a situação dos alunos e seus Documentos de Estágio na aba "Cadastro/ECS"!</h5><br>
                <p style="font-size:1.2rem;">Assim que disponível, <b><u>modifique</u></b> os Documentos de Estágio disponibilizado de cada aluno,
                adicionando as informações que <span style="color: #f00;"><b>cabem a Dirlic</b></span> e ao final
                <b>mude o status de <b>finalização</b> do Documento de Estágio</b> para o aluno ter <b>acesso</b> ao 
                <span style="color: #f00;"><b>PDF e a impressão do mesmo!</b></span>
                </p>
                <p style="color:red;font-weight:bold; font-size:1.4rem; font: Calibri;  text-align: center;"><b>Atenção</b> com a sequência das etapas!</p>
                <p style="font-size:1.2rem;">O usuário só deve ser liberado <b><u>DEPOIS</u></b> de ter sua <b><u>Carta de Apresentação</u></b> e <b><u>TERMO EXCLUÍDO</u></b>!</p>
                <p style="font-size:1.2rem;">Além da obrigatoriedade do usuário ter sua <b><u>liberação aprovada</u> e <u>já ter realizado a impressão do Termo</u></b>.</p>
                <p style="font-size:1.2rem;">Em caso de <span style="color: #f00;"><b>erro do aluno no preenchimento inicial</b></span> <u><b>(ANTES da liberação para impressão)</b></u>, <u><b>excluir o PDF</b></u> e selecionar <u><b>NOVO PREENCHIMENTO</b></u> do respectivo aluno na <u><b>aba de Usuários</b></u>!</p>
                 <p style="font-size:1.2rem;"> <b>Situação - Deferido ou Indeferido.</b> </p>
                 <p style="font-size:1.2rem;"> <b>Finalização - Liberar para impressão.</b></p>
                 <p style="font-size:1.2rem;"> <b>Liberação - Aprovar <u>após APAGAR OS DOCUMENTOS</u> para que o aluno refaça o processo no próximo período letivo.</b></p>
            </p>
        <% end %>
    </div>
<% else %>
    <br><br>
    <div class="d-flex align-items-center justify-content-center">
        <h1>Estágio Curricular Supervisionado</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisionado") -%>   
    </div>

    <div class="text-box">
        <div class="text-box-heading">
            <div class="d-flex align-items-center justify-content-center">
                <div class="arrow-down"><span style="color: #f00;">Licenciando(a)!</span></div>
            </div>
            <p><br>
            <div class="text-box">
                <div class="text-box-heading">
                    <div class="form">
                        <form>
                            Bem vindo(a) ao <b>Sistema ECS</b> destinado ao Estágio Curricular Supervisionado, obrigatório e não remunerado, nos Cursos de Licenciatura do <i>Campus</i> Campos Centro do IFFluminense.<br>
                            Este Sistema foi criado para fim de emissão de documentos obrigatórios ao(à) Licenciando(a) e ao campo de Estágio.</p>
                            <p> <a href="https://licenciaturas.centro.iff.edu.br/nucleo-de-apoio-a-pratica-profissional/copy_of_procedimentos-ao-campo-de-estagio-1" target="_blank" class="btn btn-primary">Clique aqui para ver as Orientações &#10132; SISTEMA ECS (a partir de 2024.1), antes de criar conta.</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div id="main" class="main">
            <div id="texto-home" class="texto-home">
                <br>
                <h2>Crie sua conta ou faça login!</h2>
                <br><br>
                <div class="text-center">
                    <%= link_to "Acessar", new_user_session_path, :class => "btn btn-primary" %><br><br>
                    <%= link_to "Criar Conta", new_user_registration_path, :class => "btn btn-success direita"  %>
                </div>
            </div>
        </div> 
    </div>
<% end %>
