<div class="d-flex align-items-center justify-content-center">
<h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
<%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
<br>

<div class="card">

  <div class="card-header"> <h3>Listagem dos assegurados</h3></div>

  <% if current_user.role == "normal_user" %>

  <div class="alert alert-danger" role="alert">
  Você só pode acessar o documento de compromisso de Estágio Curricular Supervisionado se o seu nome estiver na lista dos assegurados!
  </div>
<% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "Pública" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Pública", relatorio_publico_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "Particular" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Particular", relatorio_particular_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "Centro" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Centro", relatorio_centro_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "Guarus" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Guarus", relatorio_guarus_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "NãoFormal" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Não Formal", relatorio_naoformal_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>

  <% if current_user.status == "Assegurado" && current_user.tipo_da_instituicao == "Outros" %>

  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Documento de compromisso de Estágio - Outros", relatorio_publico_index_path, :class => "btn btn-success" %> &nbsp
  </div>

  <% end %>
  

</div>