<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
<br>

<div class="card">

  <div class="card-header"> <h3>Preencha os dados da instituição Concedente: </h3></div>
  <br>

 <%= form_for @instituicao, url: instituicao_index_path do |f| %>


  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome*</label>
        <div class="col-sm-4">
        <%= f.text_field :nome_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  <br>

        <label class="col-sm-2 col-form-label">CNPJ*</label>
        <div class="col-sm-4">
        <%= f.text_field :cnpj, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  </div>

  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Endereço*</label>
        <div class="col-sm-4">
    <%= f.text_field :endereco_da_instituicao, autofocus: true, required: true, autocomplete: "email" %>
  </div>
  <br>

  <label class="col-sm-2 col-form-label">Número*</label>
        <div class="col-sm-4">
    <%= f.text_field :numero_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  </div>

  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Complemento*</label>
        <div class="col-sm-4">
    <%= f.text_field :complemento_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  <br>

  <label class="col-sm-2 col-form-label">Bairro*</label>
        <div class="col-sm-4">
    <%= f.text_field :bairro_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  <div>

  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Município*</label>
        <div class="col-sm-4">
    <%= f.text_field :municipio_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  <br>

  <label class="col-sm-2 col-form-label">CEP*</label>
        <div class="col-sm-4">
    <%= f.text_field :cep_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  </div>

  <div class="form-group row">
        <label class="col-sm-2 col-form-label">Telefone*</label>
        <div class="col-sm-4">
    <%= f.text_field :telefone_da_instituicao, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  <br>

  <label class="col-sm-2 col-form-label">Representada por*</label>
        <div class="col-sm-4">
    <%= f.text_field :representante, autofocus: true, required: true, autocomplete: "off" %>
  </div>
  </div>
  <br>

  <div class="d-flex align-items-center justify-content-center">
<div id="button-submit" class="button-submit">
  <div class="actions">
    <div class="d-flex align-items-center justify-content-center">
              <%= f.submit "Salvar", class: 'btn btn-success btn-block' %> &nbsp
              <%= link_to "Voltar", welcome_path, :class => "btn btn-primary btn-block" %>
  </div>
<% end %>

  </div>