<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Impressão do Documento</h1>
    <h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

    <p><strong>Usuário(a): </strong><%= @current_user.nome_social %></p>

    <p><strong>Email: </strong><%= @current_user.email %></p>

    <p><strong>Matrícula: </strong><%= @current_user.matricula %></p>

    <p><strong>Curso: </strong><%= @current_user.licenciatura %></p>

    <p><strong>Mensagem:</strong></p>
    <p>O(a) usuário(a) <strong><%= @current_user.nome_social %></strong> realizou a impressão do formulário.</p>

  </body>
</html>
