<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Mensagem de contato</h1>
    <h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

    <p><strong>Usuário(a): </strong><%= @current_user.nome_civil %></p>

    <p><strong>Email: </strong><%= @current_user.email %></p>

    <p><strong>Matrícula: </strong><%= @current_user.matricula %></p>

    <p><strong>Curso: </strong><%= @current_user.licenciatura %></p>

    <p><strong>Mensagem:</strong></p>
   

    <% if @current_user.pdf_aditivo_centro != false %>
      <p><b>O relatório <b>aditivo</b> referente ao estágio do <u>IFF Centro</u> foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_centro != false %>
      <p><b>O relatório referente ao estágio do <u>IFF Centro</u> foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_campi != false %>
      <p><b>O relatório referente ao estágio do <u>IFF Campi</u> foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_aditivo_campi != false %>
      <p><b>O relatório <b>aditivo</b> referente ao estágio do <u>IFF Campi</u> foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_particular != false %>
      <p><b>O relatório referente à rede <u>Particular/Municipal</u>, para estágio, foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_aditivo_municipalouparticular != false %>
      <p><b>O relatório <b>aditivo</b> referente à rede <u>Particular/Municipal</u>, para estágio, foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_naoformal != false %>
      <p><b>O relatório referente à rede <u>Não Formal</u>, para estágio, foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_publico != false %>
      <p><b>O relatório referente à rede <u>Pública</u>, para estágio, foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_aditivo_estadual != false %>
      <p><b>O relatório <b>aditivo</b> referente à rede <u>Pública</u>, para estágio, foi preenchido!</b></p>
    <% end %>
  </body>
</html>
