<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Mensagem de contato</h1>
    <h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

    <p><strong>Usuário(a): </strong><%= @current_user.nome_social %></p>

    <p><strong>Email: </strong><%= @current_user.email %></p>

    <p><strong>Matrícula: </strong><%= @current_user.matricula %></p>

    <p><strong>Curso: </strong><%= @current_user.licenciatura %></p>

    <p><strong>Mensagem:</strong></p>
    <p>O usuário teve acesso à impressão do PDF.</p>

    <% if @current_user.pdf_centro != false %>
      <p><b>O relatório referente ao estágio do IFF Centro foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_campi != false %>
      <p><b>O relatório referente ao estágio do IFF Campi foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_particular != false %>
      <p><b>O relatório referente à rede <u>pública</u>, para estágio, foi preenchido!</b></p>
    <% end %>

    <% if @current_user.pdf_naoformal != false %>
      <p><b>O relatório referente à rede <u>não formal</u>, para estágio, foi preenchido!</b></p>
    <% end %>
  </body>
</html>
