<div class="container">
  <h1>Bem vindo(a) à tela de cadastro de Estágios!</h1>
  <p></p>
  <%= form_with(model: @relatorio, url: {action: "update_guarus"}, local: true) do |f| %>
    <% if user_signed_in? %>
      <div class="conteudo">
        <% @relatorios.each do |relatorio| %>
          <% if (@users.matricula == relatorio.matricula_aluno) %>
            <span>Usuário(a): <strong><%= @users.nome %></strong></span>

            <hr />

            <h2>Termo de Compromisso de Estágio - TCE</h2>
            <h5>Apólice de seguro nº 060982.001.2427, de 13/12/2016</h5>
            <h4>Seguradora: Empresa MBM SEGURADORA S.A</h4>

            <br />

            <p>
              <b>O INSTITUTO FEDERAL FLUMINENSE</b>, inscrito no CNPJ/MF sob o nº 10.779.511/0001-07
              Rua Dr Siqueira nº 273 - Parque Dom Bosco - Campos dos Goytacazes/RJ CEP: 28.030-130,
              neste Ato representando a Insituição de Ensino <b>PROMOTORA</b>, na pessoa do Sr. Reitor
              JEFFERSON MANHÃES DE AZEVEDO firma parceria com a Instituição de Ensino <b>CONCEDENTE</b>
              do Estágio Curricular Supervisionado no IFFluminense <i>campus</i> Campos Guarus, inscrito
              no CNPJ/MF sob o nº 10779511/0004-50, situado na Avenida Souza Mota, nº 350, Parque Fundão,
              no município de Campos dos Goytacazes, estado do Rio de Janeiro, CEP: 28.060-010,
              telefone (22) 2737-2405, representado por <%= f.text_field :representado_por, value: relatorio.representado_por, required: true %><span class="div_concedente" style="font-size:0.9em;">Nesse campo é preenchido o nome <br /> da Instituição Concedente!</span>
               <span class="rotate_info"></span>
               <span class="info_concedente">i</span>, para fins
              de abertura de campo de Estágio ao <b>LICENCIANDO</b> <u><%= @users.nome %></u>,
              matriculado sob o nº <u><%= @users.matricula %></u>, no <u><%= @users.periodo %></u> período do <%= f.select :semestre,['1', '2'], {include_blank:"Selecione"}, required: true %>º
              semestre do ano de <br /> 20<%= f.number_field :ano, min:18, value: 18, required:true %>, no Curso Superior de Licenciatura
              em <u><%= @users.licenciatura %></u>, residente na <%= f.text_field :endereco, value: relatorio.endereco, required:true %>, bairro
              <%= f.text_field :bairro, value: relatorio.bairro, required:true %>, município <%= f.text_field :municipio, value: relatorio.municipio, required:true %>, Estado do
              <%= f.text_field :estado, value: relatorio.estado, required:true %>, CEP.: <%= f.text_field :CEP, value: relatorio.CEP, required:true %>, nos termos da Lei Nº
              11.788 de 25/09/2008, cujas cláusulas constam e regem o presente contrato:

            </p>

            <div class="periodo_div">
              PERÍODO: de <%= f.text_field :periodo_de, value: relatorio.periodo_de, required:true %> a <%= f.text_field :periodo_a, value: relatorio.periodo_a, required: true %>
            </div>
          <% end %>
        <% end %>

        <br />
        <br />

        <%= link_to "Voltar", :back, :class => 'btn btn-primary' %>
        <div class="btn btn-success avancar">
          Avançar
        </div>
        <br />
        <%= link_to 'Voltar ao menu', estagio_welcome_index_path, :class => 'btn btn-light' %>

      </div>

      <div class="clausulas_conteudo">
        <div class="confirmacao_preenchimento">
          <p><b>Atenção</b> ao preenchimento dos dados!</p>
          <p>Em caso de dúvida ou erro no preenchimento, entre em contato com o NAPP/DIRLIC.</p>
          <div class="btn btn-info confirma_preenchimento">Entendi!</div>
        </div>

        <div class="clausulas">
          <%= image_tag("cabecalho.png", :alt => "cabeçalho IFF") %>
          <h3>Termos e Cláusulas</h3>
          <hr />

          <div class="clausulas_texto">
            <h4>CLÁUSULA PRIMEIRA - DA FINALIDADE</h4>

            <p>
              Estágio Curricular Supervisionado compreende um conjunto de atividades que propiciam aos licenciandos
              situações e oportunidades reais de trabalho. É ato educativo escolar, supervisionado, desenvolvido em ambiente
              profissional correlato à área de atuação acadêmica do aluno em conformidade com a Lei N.º 11.788/08.

              <br />
              §1.º O Estágio Curricular Supervisionado tem por finalidade, propiciar o desenvolvimento e o aperfeiçoamento
              de competências próprias da atividade profissional, objetivando o desenvolvimento do licenciando para a vida
              cidadã e para o trabalho, conforme disposição legal.
              <br />
              §2.º O Estágio Curricular Supervisionado constitui-se de atividades relacionadas às funções atribuídas a
              profissionais do curso acima especificado, conforme descrição contida no Plano de Curso e explicitadas no Plano
              de Atividades de Estágio (PAE).
              <br />
              §3.º As funções atribuídas aos profissionais encontram-se descritas no Plano de Curso e, as atividades de estágio,
              no Plano de Atividades de Estágio (PAE).
            </p>

            <h4>CLÁUSULA SEGUNDA - DA PROMOTORA</h4>

            <p>
              O Instituto Federal Fluminense campus Campos Centro se compromete a:
              <br />
              1. avaliar as instalações da parte CONCEDENTE do estágio e sua adequação à formação cultural e profissional
              do educando;
              <br />
              2. contratar, em benefício do estagiário, caso não esteja amparado pela Instituição CONCEDENTE, seguro de
              acidentes pessoais, vigente durante todo o período do estágio;
              <br />
              3. orientar o estagiário quanto ao planejamento e desenvolvimento das atividades do estágio e quanto a sua
              participação nas diversas etapas;
              <br />
              4. indicar professor orientador como responsável pelo acompanhamento e avaliação das atividades de estágio e
              do desempenho do licenciando, de forma progressiva;
              <br />
              5. sugerir atividades específicas para avaliação do desenvolvimento das competências previstas no perfil do
              egresso, com a participação dos estagiários;
              <br />
              6. fornecer todo o material necessário ao registro das atividades do estágio; <br />
              7. solicitar ao educando, a apresentação periódica de relatórios das atividades realizadas durante a vigência do
              estágio;
              <br />
              8. zelar pelo cumprimento do termo de compromisso, reorientando o estagiário para outra Instituição, em caso
              de descumprimento das presentes normas;
              <br />
              9. comunicar à parte CONCEDENTE, no início do estágio, o período de realização de avaliações escolares ou
              acadêmicas, justificando-se assim, um possível impedimento de cumprimento de horário pré-fixado;
              <br />
              10. expedir Declaração de Conclusão de Prática Profissional, na qual o Estágio Curricular Supervisionado se
              encontra inserido como parte integrante, para fins de Colação de Grau.
            </p>

            <h4>CLÁUSULA TERCEIRA - DA CONCEDENTE</h4>

            <p>
              A CONCEDENTE se compromete a:
              <br />
              1. disponibilizar, ao ESTAGIÁRIO, oportunidades de aplicabilidade dos conhecimentos pertinentes à sua área
              profissional, em ambiente condizente com as exigências legais à formação;
              <br />
              2. indicar supervisor do quadro de pessoal, com formação ou experiência profissional na área correspondente ao
              curso do ESTAGIÁRIO, para orientar até 10 (dez) estagiários simultaneamente;
              <br />
              3. contratar, em casos não amparados pela Instituição PROMOTORA, seguro de acidentes pessoais, em
              benefício do estagiário, vigente durante todo o período do estágio;
              <br />
              4. conceder ao ESTAGIÁRIO oportunidades de aperfeiçoamento na sua área de formação, complementando e
              consolidando, na prática, os conhecimentos em construção, objetivando o desenvolvimento de competências
              e habilidades;
              <br />
              5. elaborar juntamente com o estagiário o Plano de Atividades de Estágio (PAE), em conformidade com as
              competências próprias da atividade profissional, previstas no respectivo Plano de Curso;
              <br />
              6. comprovar a frequência e as atividades desenvolvidas durante o Estágio, com vistos e respectivas
              identificações, em fichas próprias (FRA); por ocasião da finalização das atividades, a avaliação final do
              Período, pelo supervisor, na “Ficha de Avaliação do Estagiário”;
              <br />

              7. estabelecer a jornada e a duração do estágio que deverá ser definida, de comum acordo, entre a Instituição de
              Ensino PROMOTORA, a parte CONCEDENTE e o aluno ESTAGIÁRIO ou seu representante legal;
              <br />
              8. garantir ao estagiário, redução da carga horária de estágio, nos períodos de avaliação acadêmica, observando
              o calendário letivo da Instituição de Ensino PROMOTORA;
              <br />
              9. Indicar, enquanto perdurar o Estágio Curricular Supervisionado, a forma de contraprestação ao estagiário
              (quando houver): ..............................................;
              <br />
              10. assegurar ao estagiário, em caso de estágio com duração igual ou superior a 01 (um) ano ininterrupto, período
              de recesso de 30 (trinta) dias, ou de maneira proporcional, naquele em que a duração for inferior ao período
              acima mencionado. O recesso de que trata este item, deverá ser gozado, preferencialmente, durante as férias
              escolares.
            </p>

            <h4>CLÁUSULA QUARTA - DO ESTAGIÁRIO</h4>

            <p>
              O ESTAGIÁRIO se compromete à:
              <br />
              1. atender às normas e procedimentos da CONCEDENTE como estagiário;
              <br />
              2. manter relacionamento de cordialidade e respeito no ambiente de trabalho;
              <br />
              3. cumprir a jornada estabelecida no presente Termo e registrar as atividades desenvolvidas, diariamente, na
              Ficha de Registro de Atividades (FRA);
              <br />
              4. executar as atividades que lhe forem atribuídas e zelar pelos equipamentos e materiais que venha utilizar no
              desenvolvimento do seu estágio;
              <br />
              5. informar por escrito e, em tempo hábil, à CONCEDENTE, qualquer fato que o impossibilite de cumprir a
              programação do estágio, quer quanto ao horário, duração ou aspectos técnicos;
              <br />
              6. utilizar equipamento de segurança que for disponibilizado pela CONCEDENTE, em ambientes de
              aprendizagem específicos, principalmente na área de Ciências da Natureza.
            </p>

            <h4>CLÁUSULA QUINTA - DA SUPERVISÃO E AVALIAÇÃO</h4>

            <p>
              O Estágio, como ato educativo escolar supervisionado, será acompanhado pelo professor orientador da
              Instituição de Ensino PROMOTORA e pelo supervisor da parte CONCEDENTE, em conformidade com as
              Normas Técnicas do Instituto Federal Fluminense (IFFluminense) e a legislação vigente, ficando, o estagiário,
              sujeito a essa regulamentação.
            </p>

            <h4>CLÁUSULA SEXTA - DO PRAZO DO ESTÁGIO</h4>

            <p>
              A duração do estágio é estabelecida pelas Normas Técnicas e Processuais de Estágio do Instituto Federal de
              Educação, Ciência e Tecnologia Fluminense, aprovadas pelo Conselho Superior do IFFluminense.
            </p>

            <h4>CLÁUSULA SÉTIMA - DAS DISPOSIÇÕES GERAIS:</h4>

            <p>
              1. A realização do Estágio Curricular Supervisionado não acarretará vínculo empregatício entre o
              ESTAGIÁRIO e a CONCEDENTE, em razão da legislação vigente e do presente termo.
              <br />
              2. O Estágio Curricular Supervisionado poderá ser interrompido pelas partes contratantes, mediante
              comunicação por escrito, com antecedência mínima de 10 (dez) dias.
              <br />
              3. O compromisso estagiário/Instituição será rescindido:
              <br />
              a) automaticamente, ao término do prazo de validade do Termo de Compromisso;
              <br />
              b) por abandono do estagiário, caracterizado por ausência não justificada por 30 (trinta) dias consecutivos;
              <br />
              c) a partir da interrupção do curso na Instituição Promotora, pelo aluno/estagiário, nos casos de trancamento
              da matrícula;
              <br />
              d) a pedido do estagiário (a), quando não houver adaptação ao plano de estágio da CONCEDENTE, no
              prazo de até 30 (trinta) dias, contados a partir do início do estágio;
              <br />
              e) a qualquer momento, em caso de vínculo permanente, pela CONCEDENTE;
              <br />
              f) por interesse e conveniência de uma das partes, que deverá apresentar à parte contrária, por escrito,
              justificativa do fato;
              <br />
              g) por desempenho insuficiente das atividades propostas, nas avaliações a que for submetido (a), pelos
              supervisores orientadores das partes conveniadas;
              <br />
              h) por conduta incompatível do estagiário em relação às normas exigidas pela Instituição Concedente.
              <br />

              4. Fica eleito o foro da Comarca da cidade de Campos dos Goytacazes, Estado do Rio de Janeiro para dirimir
              qualquer questão que se originar deste termo.
              <br />
              E por estarem de pleno e comum acordo com o exposto no presente Termo de Compromisso, firmam em 03
              (três) vias de igual teor, cabendo a 1.ª via à Instituição de Ensino PROMOTORA, a 2.ª, à CONCEDENTE e a 3.ª
              via, ao ESTAGIÁRIO.
            </p>
          </div>

          <hr />

          <b>Ao clicar em salvar, você automaticamente concorda que leu e aceita os termos das cláusulas.</b>
          <br />
          <br />

          <div class="btn btn-danger cancelar">Cancelar</div>
          <%= f.submit "Salvar", :class => 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <style type="text/css">
    .conteudo p {
      line-height: 2.5;
      text-align: justify;
    }
    input {
      height:30px;
      border:none;
      border-bottom:2px dashed black;
    }
    .btn-success, .btn-warning {
      height:40px;
      margin-left:30px;
    }
    .periodo_div {
      text-align:center;
    }
    .clausulas {
      text-align: center;
      background-color: rgba(230,230,230,0.7);
      border-radius:10px;
      padding:15px;
      position:absolute;
      display:none;
      margin-top:10%;
      margin-left:20%;
      width:800px;
    }
    .clausulas img {
      width:90%;
      opacity:0.7;
      margin-bottom:10px;
      border-radius:10px;
    }
    .clausulas_texto {
      text-align: left;
    }
    .clausulas_texto {
      max-height:400px;
      overflow-y:auto;
    }
    .clausulas_conteudo {
      height:150%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      display:none;
    }
    .btn-primary {
      color: white!important;
    }
  </style>
</div>