<% if user_signed_in? %>
  <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>
    <div class="container container_estagio">
  <div class="d-flex align-items-center justify-content-center">
      <h1 class="titulo">Bem-vindo(a) à tela de cadastro de Estágios!</h1>
    </div>
    
    <br>

  <div class="introducao">
  <div class="page-header text-center">
    <h3>Instruções para envio do PDF!</h3>
  </div>

  <p>
    <p>Ao baixar o documento assinado pela Dirlic,
    o aluno deve levá-lo à Instituição Concedente a fim de obter a assinatura do Responsável Legal pela mesma.
    Após, o aluno deve scannear o Termo assinado pela Instituição Concedente, podendo usar 
    algum aplicativo como "Cam Scanner" e realizar o envio do documento.
    <br>
    Caso não seja possível scannear o Termo:
    <br>
    A impressão dos documentos pode ser realizada no micródromo do <i>Campus</i> Campos Centro. Caso não
    seja possível, orientamos que se dirija a NAPP/DIRLIC.
  </p>

<div class="card">
  <div class="card-header"> <h3>Documento</h3></div>

  <%= form_with(model: archive, local: true) do |form| %>

    <% if archive.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(archive.errors.count, "erro(s)") %> - Documento não pôde ser salvo!</h2>

        <ul>
        <% archive.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_user.condicao != true %>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Aluno(a)</label>
        <div class="col-sm-4">
          <%= @archive.nome_usuario %> 
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Documentos*</label>
        <div class="col-sm-9">
         <small style="color: red">(Só será permitido arquivo em PDF, JPEG ou PNG)</small><br />
         <small style="color: purple">(Para selecionar mais de um documento, é necessário clicar nos documentos desejados com a tecla Ctrl pressionada)</small>
        <br />
          <%= form.hidden_field :user_id %>
         <%= form.file_field :documents, accept: 'application/pdf, image/png,image/gif,image/jpeg', as: :file %>
        </div>
      </div>

      <% else %>

      <div class="d-flex align-items-center justify-content-center">
        <h4 style="color:blue;">Você enviou seu documento para a Dirlic!</h4>
        </div>
        <hr />
        <div class="d-flex align-items-center justify-content-center">
        <h5 style="color:black;"><p>O documento ficará disponível na aba "Documentos".</p>
        <p> Você poderá acessar seus envios, assim como a avaliação feita pela Dirlic! </p>
        </h5>
        </div>
        <hr />
    
      <% end %>

      <% if current_user.role == "admin" %>
        <% if archive.status == "Pendente"  %>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-danger">Status*</label>
            <div class="col-sm-9">
             <%= select("archive","status",['Deferido','Indeferido','Revisar'],{include_blank: 'Selecione'}, required: true) %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if current_user.role == "admin" %>
        <% if archive.status == "Deferido" || archive.status == "Indeferido" || archive.status == "Revisar"  %>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-danger">Status*</label>
            <div class="col-sm-9">
             <%= select("archive","status",['Deferido','Indeferido'],{include_blank: false}) %>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-danger">Observação do avaliador</label>
            <div class="col-sm-9">
              <%= form.text_area :feedback, rows: 5, class: 'form-control' %>
            </div>
          </div>
        <% end %>
      <% end %>

      
      <div class="card-footer text-muted">
        <div class="col-sm-12">
          <div class="text-center">
            <%= form.submit "Salvar", :class => "btn btn-success direita" %>
            <% if current_user.role == "admin" %>
            <%= link_to 'Voltar', archive, :class => "btn btn-primary voltar"  %>
            <% else %>
            <%= link_to 'Voltar', root_path, :class => "btn btn-primary voltar" %>
            <% end %>
          </div>
        </div>
      </div> 
  <% end %>
<% end %>
  
</div>