<div class="d-flex align-items-center justify-content-center">
    <h1>Estágio Curricular Supervisionado</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
</div>
<br>
<div class="card">
  <% if current_user.role != "normal_user" %>
  <div class="card-header"> <h3>Documentos enviados</h3></div>

    <%= form_tag(archives_path, method: :get, class: "form-group")  do %>
      
        <%= hidden_field_tag :status, params[:status] %>
        <div class="form-group row">
          <div class="col-md-12">
            <%= text_field_tag :search_aluno, params[:search_aluno], class: "form-control ", placeholder: 'Nome civil do aluno' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-3">
            <%= select_tag :search_periodo, options_for_select([['1.º'], ['2.º'], ['3.º'], ['4.º'], ['5.º'], ['6.º'], ['7.º'], ['8.º']]), :include_blank => "Selecione o período", class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= select_tag :search_curso, options_for_select([['Ciências da Natureza'], ['Educação Física'], ['Geografia'], ['Letras: Português e Literaturas'], ['Matemática'], ['Teatro']]), :include_blank => "Selecione o curso", class: "form-control" %>
          </div>

          <div class="col-md-3">
            <%= select_tag :search_status, options_for_select([['Pendente'], ['Deferido'], ['Indeferido'], ['Revisar']]), :include_blank => "Selecione o status", class: "form-control" %>
          </div>

          <div class="col-md-2">
            <%= submit_tag ("Procurar"), class: "form-control btn-info"%>
          </div>
        </div>
    
    <% end %>

      <div class="table-responsive">
  
      <table class="table table-hover table-bordered text-center">
        <thead class="thead-dark text-center">
          <tr>
           
            <th>#</th>
            <th>Aluno</th>
            <th>Período</th>
            <th>Licenciatura</th>
            <th>Status</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          <% @archives_geral.each_with_index do |archives, index| %>
                <tr>
                  <td><b><%= index + 1 %></b></td>
                  <td><%= archives.user.nome_social %>
                  </td>
                  <td><%= archives.user.periodo %></td>
                  <td><%= archives.user.licenciatura %></td>
                  <td><%= archives.status %></td>
                  <% if current_user.role != "admin" %>
                    <td><%= link_to 'Exibir', archives %></td>
                  <% else %>
                    <td><%= link_to 'Analisar', archives  %></td>
                  <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <%= will_paginate @archives_geral %>
    </div>
    <% else  %>
    <div class="card-header"> <h3>Documentos enviados</h3></div>

      <div class="table-responsive">
  
      <table class="table table-hover table-bordered text-center">
        <thead class="thead-dark text-center">
          <tr>
           
            <th>#</th>
            <th>Aluno</th>
            <th>Período</th>
            <th>Licenciatura</th>
            <th>Status</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          <% @archives_aluno.each_with_index do |archives, index| %>
                <tr>
                  <td><b><%= index + 1 %></b></td>
                  <td><%= archives.user.nome_social %>
                  </td>
                  <td><%= archives.user.periodo %></td>
                  <td><%= archives.user.licenciatura %></td>
                  <td><%= archives.status %></td>
                  <% if current_user.role != "admin" && archives.status == "Deferido" #&& archives.status == "Deferido" %>
                    <td><%= link_to 'Exibir', archives %></td>
                  <% else %>
                    <td><%= link_to 'Analisar', archives  %></td>
                  <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <%= will_paginate @archives_geral %>
    </div>
    <% end %>

      <% if current_user.periodo != "8.º" || current_user.periodo == "8.º" %> 
        
      <div class="table-responsive">
        <table class="table table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Status</th>
              <th colspan="3">Ação</th>
            </tr>
          </thead>
          <tbody>
          <% @archives_aluno.each_with_index do |archives, index| %>
                <tr>
                <% if archives.status == "Deferido" %>
                  <td><b><%= index + 1 %></b></td>
                  <td><%= archives.status %></td>
                  <td><%= link_to 'Exibir', archives %></td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
          
      <div class="col-sm-12">
        <div class="alert alert-danger text-center" role="alert" >
          <h3><b>Prazo para envio de documentos encerrado!</b></h3>
          <hr/>
          <h6>Em caso de dúvidas ou questionamentos, entre em contato com a DIRLIC/NAPP</h6>
          <hr/>
        </div>
      </div> 
    <% end %>
    

  <br>
</div>
