 <div class="d-flex align-items-center justify-content-center">
    <%= image_tag("DirlicOficial.png", size: "220x220", :alt => "logo estágio curricular supervisonado") -%>   
    </div>
    <div class="container container_estagio">
    <div class="d-flex align-items-center justify-content-center">
      <h1 class="titulo">Visualização de documento do(a) aluno(a) <%= @archive.user.nome_social %></h1>
      </div>
      <span>Usuário(a): <strong><%= current_user.nome_social %></strong></span>

      <hr /> 
      <br>

<div class="card">

  <div class="card-header"> <h3>Atividade</h3></div>

    <div class="row">
      <div class="col-md-12 ">
      <ul class="list-group">
          <li class="list-group-item"><b>Nome social:</b> <%= @archive.user.nome_social %></li>
        <li class="list-group-item"><b>Status:</b> <%= @archive.status %></li>
        <li class="list-group-item"><b>Cadastrada em:</b> <%= @archive.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>
        <li class="list-group-item"><b>Atualizada em:</b> <%= @archive.updated_at.strftime("%d/%m/%Y - %H:%M:%S") %></li>        
      </ul>
    </div>
  </div>

  <% if !@avaliacoes.empty? %>
    <div class="table-responsive">
      <table class="table table-hover table-bordered text-center">
        <thead class="thead-dark text-center">
          <tr>
              <th>#</th>
              <th>Status</th>
              <th>Data de Avaliação</th>
            </tr>
        </thead>
        <% (Array @avaliacaos).each do |document| %>
            <tr>
              <td><%= avaliacaos.status %></td>
              <td><%= avaliacaos.created_at.strftime("%d/%m/%Y") %></td>
            </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <div class="card-footer text-muted">
    <div class="col-sm-12">
      <div class="text-center">
      <% (Array @archive.documents).each do |document| %>
            <%= link_to("Anexo", document.url, target: '_blank' , :class => 'btn btn-info')%>
          <% end %>
          <% if current_user.role == "admin" %>
            <%= link_to "Analisar e Atualizar", edit_archive_path(@archive), :class => "btn btn-success"  %>
          <% end %>
          <%= link_to "Atividades Aluno", users_show_path(id: @archive.user.id), :class => "btn btn-success"  %>
          <%= link_to "Voltar", archives_index_path, :class => "btn btn-info"  %>
      </div>
    </div>
  </div>  
</div>