<!DOCTYPE html>
<html>
  <head>
    <title>ECS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-3.6.1' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %> 
    <%= favicon_link_tag 'iconIffPequeno.png' %>    
    
  </head>

  <body data-turbo="<%= @turbo.present? %>"> <%# nao funciona o entendi%>
    <%= render partial: "shared/navbar" %>
    <div class="container">
    <div class="panel container-fluid">

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
     
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
       
    </div>
    <%= yield %>

      </div> 

    </div>
  </body>
</html>
